/*****************************************
*** BASE ELEMENTS
******************************************/
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #242424;
    height: 100%;
    margin: 0;
    padding: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

button {
    cursor: pointer;
}

div {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

table {
    outline: none;
}

th {
    outline: none;
}

tr {
    outline: none;
}

td {
    outline: none;
}


/*****************************************
*** DIVs
******************************************/
.buttonDiv {
    margin-left: 22px;
    margin-top: 15px;
}

.formDiv {
    margin-left: 20px;
}

.formLabel {
    display:block;
    padding-top: 2px;
    font-size: 8px;
    color: #FFFFFF;
}

.formField {
    display:inline;
    background-color: #2b3f49;
    border: 3px solid #222222;
    width: calc(100% - 92px);
    min-width: 200px;
    height: 35px;
    text-decoration-color: #FFFFFF;
    color: #ffffff;
    padding-left: 10px;
    font-size: 1.0em;
}

/*****************************************
*** COMMON
******************************************/
.clearfix {
    overflow: auto;
}


/*****************************************
*** HEADER
******************************************/
.headerWrapper {
    text-align: center;
    margin-top: 10px;
}

.mainHeader {
    padding: 0;
    margin:  0;
}

.loggingHeader {
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

/*****************************************
*** FORM
******************************************/
.formLabel {
    display:block;
    padding-top: 10px;
    font-size: 2.0em;
    color: #FFFFFF;
}

.formField {
    display:inline;
    background-color: #2b3f49;
    border: 3px solid #222222;
    width: calc(100% - 92px);
    min-width: 200px;
    height: 35px;
    text-decoration-color: #FFFFFF;
    color: #ffffff;
    padding-left: 10px;
    font-size: 1.0em;
}

.formField:focus {
    background-color: #3c535d;
    outline: none;
}

.logTextArea {
    background-color: #2b3f49;
    text-align: left;
    color: #ffffff;
    outline: none;
    width:calc(100% - 6px);
    height:calc(100% - 33px);
}

.mainDiv {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.logDiv {
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin-top: 0.2em;
    margin-left: 0.2em;
    margin-bottom: 0;
    margin-right: 0.2em;
    height: calc(100% - 75px);
    background-color: #2b3f49;
    overflow-y: scroll;
}

.bottomDiv {
    height: 40px;
    padding: 12px 0 0 0.2em;
    margin: 0;
}

.bottomRightDiv {
    float: right;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

.statusDiv {
    padding-right: 0.2em;
    padding-top: 0;
    margin: 0;
}

.autoScrollCheckbox {

}

.autoScrollCheckboxLabel {

}


/*****************************************
*** BUTTONS
******************************************/
.simpleButton {
    width:100px;
    height:40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 10pt;
    color: #000000;
    text-align: center;
    text-decoration: none;
    background: #bcc2c6;
    border: 0;
    border-radius: 7px;
    outline: none;
    margin: 0;
}

.simpleButton:focus {
}

.simpleButton:hover {
    color: #222222;
    background: #e0e6ea;
}

.simpleButton:disabled {
    color: #949494;
    background: #454545;
    pointer-events: none;
    cursor: default;
}

.buttonGroup {
    position: absolute;
    bottom: 5px;
    left: 22px;
}

.checkBoxGroup {
    position: absolute;
    bottom: 28px;
    left: calc(100% - 210px);
    margin: 0;
    padding: 0;
}

.simpleCheckBox {
    margin: 5px 0 0 0;
    padding: 0;
}

.simpleCheckboxLabel {

}